/**********   welcome-section  ************/

#product-overview {
  height: calc(60vh - 45px);
  width: 100%;
  /* height: 528px; */
  /* height: calc(100vh - 45); */
  background: url("./assets/freedom.jpg") left 10% top 10%/cover no-repeat;
  /* background-size: cover; */
  /* this tells crop 10% on left and crop 10% on top */
  /* background-position: left 10% top 10% ; */
  /* background-position: 0% 100%; */
  
  margin-top: 45px;
  position: relative;
}

#product-overview h1 {
  /* margin: 0; */
  margin: 20px 10px;
  color: white;
  position: absolute;
  bottom: 5%;
  font-size:1.5rem;
}

/* Min-width :- 640px*/
@media (min-width:40rem){
  #product-overview {
    height: calc(88vh - 45px);
    background-position: left 55% top 50% ;
  }
  #product-overview h1 {
    font-size: 2rem;
  }
}

/********************************************************   PLANS SECTION   ***************************************************/
.section-title {
  text-align: center;
}
.plan {
  background: #76a57e;
  width: 100%;
  /* display: inline-block; */
  text-align: center;
  margin: 10px auto;
  padding: 1%;
  /* vertical-align: middle; */
}

.plan-highlighted {
  background: #2a9b3d;
  color: white;
  /* box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.5); */
}

@media (min-width:40rem){
  .plan-list{
    width: 100%;
    text-align: center;
  }
  .plan{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
  }
  .plan-highlighted {
     box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.5); 
  }
}

.plan-annotation {
  color: #76a57e;
  background: white;
  padding: 6px 0;
  box-shadow: 1px 1px 4px 0.5px rgba(255, 255, 255, 0.5);
}

.plan-features {
  list-style: none;
  padding: 0;
  margin: 0;
}
.plan-features li {
  margin: 8px 0px;
}
.plan-title {
  color: rgb(133, 72, 19);
}
.plan-price {
  color: rgb(42, 133, 19);
}

.plan-highlighted .plan-title,
.plan-highlighted .plan-price {
  color: white;
}

/* ****************************  KEY FEATURES  ********************* */

#key-features {
  background: rgb(204, 120, 105);
  margin: 75px 0px 30px 0px;
  padding: 15px;
}

.key-feature-lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.key-feature-list {
  display: inline-block;
  text-align: center;
  width: 33%;
  vertical-align: top;
}

.key-feature-description {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.key-feature-image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 20px;
}

/* ********************************************   MODAL     ************************* */

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}