* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
}

.backdrop{
  background: rgba(0, 0, 0,0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 100;
  display: none;
}

/* ************************************    HEADER AND NAVIGATION     ************************* */

/* main {
  padding-top: 20px;
} */

.main-header {
  background: #318181;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main_nav {
  display: inline-block;
  color: white;
  width: calc(100% - 120px);
  text-align: right;
  vertical-align: middle;
}
.main_nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main_nav__item {
  display: inline-block;
  margin: 0.3rem 0.9rem ;
}

.main_nav__item a,.mobile_nav__item a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.25rem;
}

.main_nav__item--cta a,.mobile_nav__item--cta a{
  padding: 8px;
  background: tomato;
  color: white;
}



.main_nav__item a:hover,
.main_nav__item a:active {
  color: black;
  border-bottom: 2px solid black;
}

.main_nav__item--cta a:hover,.main_nav__item--cta a:active,.mobile_nav__item--cta a:hover,.mobile_nav__item--cta a:active{
  color: tomato;
  background: white;
  border: none;
}

/* TOGGLE HAMBURGER BUTTON */

.toggle-button{
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus{
  outline: none;
}

.toggle-button__bar{
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.brand {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  height:50px;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
}
/* As we made its parent a with class brand as inline-block then this image will follow the dimensions of its parent */
.brand img{
  height: 100%;
  width: 100%;
}



/* ********************************  MOBILE NAV  ************************ */
.mobile_nav{
  display: none;
  position: fixed;
  z-index: 101;
  height: 100vh;
  top: 0;
  left: 0;
  width: 70%;
  background: white;
}

.mobile_nav__items{
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile_nav__item{
  margin: 1rem 0;
}

.mobile_nav__item a{
  font-size: 1.5rem;
}


/* **********************************   BUTTONS   ************************* */

.button {
  background: rgb(42, 133, 19);
  color: white;
  font: inherit;
  border: 1.5px solid rgb(42, 133, 19);
  padding: 9px;
  cursor: pointer;
  margin-top: 8px;
}
.button:hover {
  background: white;
  color: rgb(42, 133, 19);
}
.button:focus {
  outline: none;
}

/* **********************************    FOOTER   ************************* */

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 40px;
}
.main-footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer-link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer-link a {
  color: white;
  text-decoration: none;
}
.main-footer-link a:hover,
.main-footer-link a:active {
  color: gray;
}

.open{
  display: block !important;
}